[submodule "submods/bgfx"]
	path = submods/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "submods/bx"]
	path = submods/bx
	url = https://github.com/bkaradzic/bx
[submodule "submods/bimg"]
	path = submods/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "submods/glfw"]
	path = submods/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submods/spdlog"]
	path = submods/spdlog
	url = https://github.com/gabime/spdlog.git
